{% extends "model/list.html" %}

{% block empty_message %}There aren't any importers that match your search{% endblock %}

{% block sidebar %}
  <ul class="menu-out">
    <li>
      <a href="{{url('importer-individual-create')}}">Create Individual Main Importer</a>
    </li>
    <li>
      <a href="{{url('importer-organisation-create')}}">Create Organisation Main Importer</a>
    </li>
  </ul>
  <ul class="menu-out">
    <li>
      <a href="">Search Access Requests</a>
    </li>
  </ul>
{% endblock %}
